common --enable_platform_specific_config

# target c++20.
build:macos --cxxopt=-std=c++2a
build:windows --cxxopt=-std:c++latest

# treat warnings as errors.
build:macos --cxxopt=-Wall
build:macos --cxxopt=-Wno-unused-lambda-capture
build:macos --cxxopt=-Werror
build:windows --cxxopt=-W4
build:windows --cxxopt=-WX
