common --enable_platform_specific_config

# target c++20.
build:linux --cxxopt=-std=c++2a
build:macos --cxxopt=-std=c++2a
build:windows --cxxopt=-std:c++latest

# treat warnings as errors.
build:linux --cxxopt=-Wall
build:linux --cxxopt=-Wextra
build:linux --cxxopt=-Wno-enum-compare
build:linux --cxxopt=-Wno-missing-field-initializers
build:linux --cxxopt=-Werror
build:macos --cxxopt=-Wall
build:macos --cxxopt=-Wextra
build:linux --cxxopt=-Wno-enum-compare
build:macos --cxxopt=-Wno-missing-field-initializers
build:macos --cxxopt=-Wno-unused-lambda-capture
build:macos --cxxopt=-Werror
build:windows --cxxopt=-W4
build:windows --cxxopt=-WX
